#div_4be0_0{background-image: url("/images/background1.jpg");}
#li_4be0_0{background-image: url("/images/Silver.png");}
#li_4be0_1{background-image: url("/images/Gold.png");}
#li_4be0_2{background-image: url("/images/Challenger.png");}
#div_4be0_1{background-image: url("/images/background2.jpg");}
