#body_e6e1_0{background-image: url("/images/background_profile.jpg"); background-repeat:no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size:175%;}
#h1_e6e1_0{font-size:300%;}
#img_e6e1_0{width:280px; height:280px;}
#div_e6e1_0{color:black;}
