#body_70c2_0{background-image: url('/images/register_background.png'); color:white;}
#Table2{margin: 0px;}
#input_70c2_0{background-color: rgba(100,100, 100, 0.5); color:rgba(255,255,255,.8)}
#input_70c2_1{background-color: rgba(100,100, 100, 0.5); color:rgba(255,255,255,.8)}
#select_70c2_0{background-color: rgba(100,100, 100, 0.5); color:rgba(255,255,255,.8)}
#select_70c2_1{background-color: rgba(100,100, 100, 0.5);color:rgba(255,255,255,.8)}
#select_70c2_2{background-color: rgba(100,100, 100, 0.5);color:rgba(255,255,255,.8)}
#select_70c2_3{background-color: rgba(100,100, 100, 0.5);color:rgba(255,255,255,.8)}
#input_70c2_2{background-color: rgba(100,100, 100, 0.5);color:rgba(255,255,255,.8)}
#input_70c2_3{background-color: rgba(100,100, 100, 0.5);color:rgba(255,255,255,.8)}
#textarea_70c2_0{background-color: rgba(100,100, 100, 0.5);color:rgba(255,255,255,.8)}
#select_70c2_4{background-color: rgba(100,100, 100, 0.5);color:rgba(255,255,255,.8)}
#select_70c2_5{background-color: rgba(100,100, 100, 0.5);color:rgba(255,255,255,.8)}
#select_70c2_6{background-color: rgba(100,100, 100, 0.5);color:rgba(255,255,255,.8)}
