<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <title th:text="${title}">Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/register.css"/>
</head>
<body id="body_70c2_0">
<div th:replace="fragments :: navigation"></div>
<div th:object="${user}">
    <table border="1" width="100%" ID="Table2" >
        <tr>
            <td th:if="${userused}" align="center" class="alert alert-danger" role="alert" th:text="${userused}"></td>
        </tr>
        <tr>
            <td align="center" class="alert alert-danger" role="alert" th:errors="*{username}"></td>
        </tr>
        <tr>
            <td align="center" class="alert alert-danger" role="alert" th:errors="*{password}"></td>
        </tr>
        <tr>
            <td align="center" class="alert alert-danger" role="alert" th:errors="*{userRank}"></td>
        </tr>
        <tr>
            <td align="center" class="alert alert-danger" role="alert" th:errors="*{opGGLink}"></td>
        </tr>
        <tr>
            <td align="center" class="alert alert-danger" role="alert" th:errors="*{discordLink}"></td>
        </tr>
        <tr>
            <td align="center" class="alert alert-danger" role="alert" th:errors="*{aboutMe}"></td>
        </tr>
        <tr>
            <td align="center" class="alert alert-danger" role="alert" th:errors="*{userType}"></td>
        </tr>
        <tr>
            <td align="center" class="alert alert-danger" role="alert" th:errors="*{server}"></td>
        </tr>
        <tr>
            <td align="center" class="alert alert-danger" role="alert" th:errors="*{role}"></td>
        </tr>
        <tr>
            <td align="center" class="alert alert-danger" role="alert" th:errors="*{mainChamps}"></td>
        </tr>
    </table>
</div>
<div class="container-fluid text-center mt-lg-3">
    <form th:object="${user}" method="post">
        <div class="form-inline col-md-12">
            <label class="sr-only" th:for="username"></label>
            <input id="input_70c2_0" th:field="*{username}" class="form-control mb-5 mr-sm-5 mb-sm-0" placeholder="League Name"/>
            <label  class="sr-only" th:for="password"></label>
            <input id="input_70c2_1" th:field="*{password}" type="password" class="form-control mb-5 mr-sm-5 mb-sm-0" placeholder="Password"/>
            <label  class="sr-only" th:for="userRank"></label>
            <select id="select_70c2_0" th:name="userRankId" class="form-control mb-2 mr-sm-5 mb-sm-0">
                <option  th:each="rank : ${userranks}"
                         th:text="${rank.name}"
                         th:value="${rank.id}"></option>
            </select>
            <label th:for="role"></label>
            <select id="select_70c2_1" th:name="roleId" class="form-control mb-2 mr-sm-5 mb-sm-0">
                <option th:each="role : ${roles}"
                        th:text="${role.name}"
                        th:value="${role.id}"></option>
            </select>
            <label th:for="server"></label>
            <select id="select_70c2_2" th:name="serverId" class="form-control mb-2 mr-sm-5 mb-sm-0">
                <option th:each="server : ${servers}"
                        th:text="${server.name}"
                        th:value="${server.id}"></option>
            </select>
            <label th:for="type"></label>
            <select id="select_70c2_3" th:name="userTypeId" class="form-control mb-2 mr-sm-5 mb-sm-0">
                <option th:each="userType : ${types}"
                        th:text="${userType.name}"
                        th:value="${userType.id}"></option>
            </select>
        </div>
        <div class="container-fluid text-center mt-lg-3">
            <label th:for="opGGLink"><h4>OP.GG Link</h4></label>
            <input id="input_70c2_2" th:field="*{opGGLink}" class="form-control"/>
        </div>
        <div class="container-fluid text-center mt-lg-3">
            <label th:for="discordLink"><h4>Discord Link</h4></label>
            <input id="input_70c2_3" th:field="*{discordLink}" class="form-control"/>
        </div>
        <div class="container-fluid text-center mt-lg-3">
            <label th:for="aboutMe"><h4>About Me (availability, when you play, etc.)</h4></label>
            <textarea id="textarea_70c2_0" th:field="*{aboutMe}" class="form-control" rows="5"/>
        </div>

        <div class="container-fluid text-center mt-lg-3">
            <label th:for="mainchamp"><h4>Most Played Champs</h4></label>
            <select id="select_70c2_4" th:name="mainChampId" class="form-control">
                <option th:each="champ : ${mainchamps}"
                        th:text="${champ.name}"
                        th:value="${champ.id}"></option>
            </select>
            <select id="select_70c2_5" th:name="mainChampId" class="form-control mt-lg-2">
                <option th:each="champ : ${mainchamps}"
                        th:text="${champ.name}"
                        th:value="${champ.id}"></option>
            </select>
            <select  id="select_70c2_6" th:name="mainChampId" class="form-control mt-lg-2">
                <option th:each="champ : ${mainchamps}"
                        th:text="${champ.name}"
                        th:value="${champ.id}"></option>
            </select>
        </div>
        <input type="submit" class="btn btn-lg btn-success mt-lg-3" value="Create Profile"/>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>