<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <title th:text="${title}">Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div th:object="${user}">
    <table border="1" width="100%" ID="Table2" style="margin: 0px;">
        <tr>
            <td th:if="${userused}" align="center" class="alert alert-danger" role="alert" th:text="${userused}"></td>
        </tr>
        <tr>
            <td align="center" class="alert alert-danger" role="alert" th:errors="*{username}"></td>
        </tr>
        <tr>
            <td align="center" class="alert alert-danger" role="alert" th:errors="*{password}"></td>
        </tr>
        <tr>
            <td align="center" class="alert alert-danger" role="alert" th:errors="*{userRank}"></td>
        </tr>
        <tr>
            <td align="center" class="alert alert-danger" role="alert" th:errors="*{opGGLink}"></td>
        </tr>
        <tr>
            <td align="center" class="alert alert-danger" role="alert" th:errors="*{discordLink}"></td>
        </tr>
        <tr>
            <td align="center" class="alert alert-danger" role="alert" th:errors="*{aboutMe}"></td>
        </tr>
        <tr>
            <td align="center" class="alert alert-danger" role="alert" th:errors="*{userType}"></td>
        </tr>
        <tr>
            <td align="center" class="alert alert-danger" role="alert" th:errors="*{server}"></td>
        </tr>
        <tr>
            <td align="center" class="alert alert-danger" role="alert" th:errors="*{role}"></td>
        </tr>
        <tr>
            <td align="center" class="alert alert-danger" role="alert" th:errors="*{mainChamps}"></td>
        </tr>
    </table>
</div>
    <form th:object="${user}" method="post">
        <div class="form-group">
            <label th:for="username">UserName (Same as your league name)</label>
            <input th:field="*{username}" />
        </div>
        <div class="form-group">
            <label th:for="password">Password (Different from your league password)</label>
            <input th:field="*{password}" type="password" />
        </div>
        <div class="form-group">
            <label th:for="userRank">Rank</label>
            <select th:name="userRankId">
                <option th:each="rank : ${userranks}"
                        th:text="${rank.name}"
                        th:value="${rank.id}"></option>
            </select>
        </div>
        <div class="form-group">
            <label th:for="opGGLink">OP.GG Link</label>
            <input th:field="*{opGGLink}" />
        </div>
        <div class="form-group">
            <label th:for="discordLink">Discord Link</label>
            <input th:field="*{discordLink}" />
        </div>
        <div class="form-group">
            <label th:for="aboutMe">About Me (availability, when you play, etc.)</label>
            <textarea th:field="*{aboutMe}" />
        </div>
        <div class="form-group">
            <label th:for="type">Role</label>
            <select th:name="userTypeId">
                <option th:each="userType : ${types}"
                        th:text="${userType.name}"
                        th:value="${userType.id}"></option>
            </select>
        </div>
        <div class="form-group">
            <label th:for="server">Server</label>
            <select th:name="serverId">
                <option th:each="server : ${servers}"
                        th:text="${server.name}"
                        th:value="${server.id}"></option>
            </select>
        </div>
        <div class="form-group">
            <label th:for="role">Position</label>
            <select th:name="roleId">
                <option th:each="role : ${roles}"
                        th:text="${role.name}"
                        th:value="${role.id}"></option>
            </select>
        </div>
        <div class="form-group">
            <label th:for="mainchamp">Most Played Champs</label>
            <select th:name="mainChampId">
                <option th:each="champ : ${mainchamps}"
                        th:text="${champ.name}"
                        th:value="${champ.id}"></option>
            </select>
            <select th:name="mainChampId">
                <option th:each="champ : ${mainchamps}"
                        th:text="${champ.name}"
                        th:value="${champ.id}"></option>
            </select>
            <select th:name="mainChampId">
                <option th:each="champ : ${mainchamps}"
                        th:text="${champ.name}"
                        th:value="${champ.id}"></option>
            </select>
        </div>
        <input type="submit"/>
    </form>
</body>
</html>